{% extends "base.html.j2" %}

{% block title %}Benjamin Connelly - Home{% endblock %}

{% block content %}
<div class="under-construction">
    *** UNDER CONSTRUCTION *** PARDON OUR DUST *** UNDER CONSTRUCTION ***
</div>

<div class="home-content">
    {{ content }}
</div>
{% endblock %}
